/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

*{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

.head {
    background: rgb(3,30,48);
    background: linear-gradient(90deg, rgba(3,30,48,1) 0%, rgba(5,50,79,1) 50%, rgba(7,64,102,1) 100%);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#navbar .logo{
    position: relative;
    max-width: 80px;
    margin-top: 10%;
    margin-left: 100%;
    transition: all .3s;
}

@media (max-width:600px) {
    #navbar .logo{
        margin-right: auto;
    }
}

#navbar .logo:hover{
    transform: scale(1.05);
    transition: all .3s;
}

#navbar ul{
    margin-right: 10%;
    list-style: none;
}

#navbar ul li{
    position: relative;
    display: inline-block;
}

#navbar ul li a{
    font-size: 18px;
    padding: 0 10px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

#navbar li a:hover{
    color:#D8AE5E;
    transition: all .4s ease-out;
}

#navbar ul li ul.dropdown{
    position: absolute;
    z-index: 999;
    display: none;
    background: rgb(202, 202, 202);
    width: 190px;
    border-radius: 10px;
    transition: all .3s ease 0s, visibility 0s linear .3s, z-index 0s linear .01s;
}

#navbar ul li ul.dropdown li{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    height: 30px;
}

#navbar ul li ul.dropdown li a{
    padding: 3px 20px;
    color: black;
}

#navbar ul li:hover ul.dropdown{
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
    display: block;
    perspective: 1000px;
}

#navbar ul li:hover ul.dropdown li{
    transform-origin: top center;
    opacity: 0;
}

#navbar ul li:hover ul.dropdown li:hover{
    background: white;
    transition: .3s;
}

.BgColour {
    color: rgb(3,30,48);
    transition: all .5s;
    background-color: rgb(3,30,48);
    box-shadow: black 0 0 2.5px;
}

#navbar ul li:hover .dropdown li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
}

#navbar ul li:hover .dropdown li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
}

#navbar ul li:hover .dropdown li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
}

#navbar ul li:hover .dropdown li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 450ms;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50%{
        transform: rotateX(20deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg);
    }
}


.title {
    font-weight: bolder;
    margin-top: 2em;
    color: white;
    font-size: 50px;
    text-align: center;
    align-items: center;
}

.headline {
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    align-items: center;
    height: 50em;
    background: rgb(3,30,48);
    background: linear-gradient(90deg, rgba(3,30,48,1) 0%, rgba(5,50,79,1) 50%, rgba(7,64,102,1) 100%);
}

.headline h2{
    color: #D8AE5E;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.headline h1{
    font-family: 'Archivo', sans-serif;
    font-size: 75px;
    font-weight: bolder;
    text-align: left;
    color: #fff;
}

.headline p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: rgb(255, 255, 255);
}

.passaro{
    padding-top: 8%;
    display: inline-block;
    width: 450px;
    height: 450px;
}

.passaro img{
    width: 450px;
    height: 450px;
}

.texto{
    align-items: center;
    display: inline-block;
    padding: 7%;  
    max-width: 65em;
}

.texto2{
    align-items: center;
    display: inline-block;
    padding: 7%;  
    max-width: 49%;
    background-color: white;

}

.texto2 h1{
    font-family: 'Archivo', sans-serif;
    font-size: 47px;
    font-weight: bolder;
    text-align: left;
    color: black;
}

.texto2 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.texto2 h2{
    color: #D8AE5E;
    font-size: 23px;
    margin-bottom: 10px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

.texto3{
    align-items: center;
    display: inline-block;
    padding: 7%;  
    max-width: 100%;
    background: rgb(3,30,48);
    background: linear-gradient(90deg, rgba(3,30,48,1) 0%, rgba(5,50,79,1) 50%, rgba(7,64,102,1) 100%);

}

.texto3 h1{
    font-family: 'Archivo', sans-serif;
    font-size: 47px;
    font-weight: bolder;
    text-align: left;
    color: white;
}

.texto3 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.texto3 h2{
    color: #D8AE5E;
    font-size: 23px;
    margin-bottom: 10px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}
@media (max-width:600px) {
    .texto {
        padding: 0;
    }
}

.objetivo {
    display: inline-block;
    background: rgb(255, 255, 255);
}

.objetivo p{
    font-size: 20px;
}

.image {
    margin-right: 10px;
    display: inline-block;
    width: 780px;
}

.image img {
    width: 780px;
    box-shadow: black 0 0 2px;
}

.main {
    display: flex;
    overflow-x: auto;
    width: 100em;
    background: rgb(3,30,48);
    background: linear-gradient(90deg, rgba(3,30,48,1) 0%, rgba(5,50,79,1) 50%, rgba(7,64,102,1) 100%);
}

.container {
    margin: 10px;
    background: white;
    color: black;
    display: block;
    border-radius: 7px;
    box-shadow: rgb(0, 0, 0) 1px 2px 5px;
    max-width: 35em;
    transition: all .3s;
}

@media (max-width:600px) {
   .container{
        margin-right: auto;
    }
}

.container:hover{
    transition: all .9s;
    color: white;
    background: rgb(3,30,48);
    background: linear-gradient(90deg, rgba(3,30,48,1) 0%, rgba(5,50,79,1) 50%, rgba(7,64,102,1) 100%);
}


.container h1{
    font-family: 'Archivo', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    text-align: left;
    padding: 20px;
    text-align: center;
}

.container p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
}

.container img{
    max-width: 30em;
}

        .contact-info {
            margin-top: 20px;
            text-decoration: none;
        }
        .contact-info  a{
            margin-top: 20px;
            text-decoration: none;
        }

        footer {
            text-align: center;
            background-color: #001524;
            color: rgb(256, 256, 256);
            padding: 10px;
        }

        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
          }
          
          ::-webkit-scrollbar-thumb {
            background: rgba(90, 90, 90);
          }
          
          ::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.2);
          }

.footer {
    margin: 0 auto;
    max-width: 100%;
    align-items: center;
    background: rgb(3,30,48);
    background: linear-gradient(90deg, rgba(3,30,48,1) 0%, rgba(5,50,79,1) 50%, rgba(7,64,102,1) 100%);
}

.footer h2{
    color: #D8AE5E;
    font-size: 23px;
    margin-bottom: 10px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

.footer h1{
    font-family: 'Archivo', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    text-align: left;
    color: #fff;
}

.footer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.footer a{
text-decoration: none;
color: white;
}

